!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=1024, user-scalable=no", name: "viewport"}/
    %title Your deck.js Presentation
    / Required stylesheet
    %link{href: "/core/deck.core.css", media: "screen", rel: "stylesheet"}/
    / Extension CSS files go here. Remove or add as needed.
    %link{href: "/extensions/goto/deck.goto.css", media: "screen", rel: "stylesheet"}/
    %link{href: "/extensions/menu/deck.menu.css", media: "screen", rel: "stylesheet"}/
    %link{href: "/extensions/navigation/deck.navigation.css", media: "screen", rel: "stylesheet"}/
    %link{href: "/extensions/status/deck.status.css", media: "screen", rel: "stylesheet"}/
    %link{href: "/extensions/scale/deck.scale.css", media: "screen", rel: "stylesheet"}/
    / Style theme. More available in /themes/style/ or create your own.
    %link{href: "/themes/style/swiss.css", media: "screen", rel: "stylesheet"}/
    / Transition theme. More available in /themes/transition/ or create your own.
    %link{href: "/themes/transition/fade.css", media: "screen", rel: "stylesheet"}/
    / Basic black and white print styles
    %link{href: "/core/print.css", media: "print", rel: "stylesheet"}/
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

    =stylesheet_link_tag 'live'

    / Required Modernizr file
    <link rel="stylesheet" href="http://yui.yahooapis.com/3.17.1/build/cssreset-context/cssreset-context.css" type="text/css">

    :css
      .song-slide {
        background: url(#{current_church.settings.first.songs_background});
        background-size: cover;
      }  
      .song-slide h1 {
        color: #{current_church.settings.first.songs_font_color};
        text-transform: #{current_church.settings.first.songs_case};
      } 
      #anniversaries {
        background: url(#{current_church.settings.first.anniversaries_background});
        background-size: cover;        
      }

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    %script{src: "/modernizr.custom.js"}
    = javascript_include_tag "jquery.fittext"
    = javascript_include_tag "live"

  %body
    .deck-container
      / Begin slides. Just make elements with a class of slide.

      -@presentation.contents.order('position asc').each do |content|
        -if content.song
          %section.slide.song-slide
            %h1.title=content.song.title
          -diapo = content.song.diapo_mode

          -content.song.order.split(',').each do |verse|
            -if !diapo[verse.upcase.lstrip].blank?
              %section.slide.song-slide
                %h1.verso=raw(diapo[verse.upcase.lstrip].gsub('\n','<br>'))
        -else
          -if content.diapo.background_url.blank?

            -if content.diapo.title == 'anniversaries'
              %section.slide#anniversaries
                %h2 Felicidades
                .well
                  -@anniversaries.each do |ann|
                    .dato=ann.date.strftime('%d/%m')
                    .dato=ann.name
                    .dato.icon=image_tag('icons/' + ann.category + '/' + (rand(3)+1).to_s + '.png')
            -else
              %section.slide
                -if content.diapo.show_title
                  %h2=content.diapo.title
                %div=raw content.diapo.info

          -else
            %section.slide{:style => "background: url(#{content.diapo.background}) no-repeat center center fixed; -webkit-background-size: cover;   -moz-background-size: cover;   -o-background-size: cover;   background-size: cover;"}
              -if content.diapo.show_title
                %h2=content.diapo.title
              %div=raw content.diapo.info


    / End slides.
    / Begin extension snippets. Add or remove as needed.
    / deck.navigation snippet
    %div{"aria-role" => "navigation"}
      %a.deck-prev-link{href: "#", title: "Previous"} ←
      %a.deck-next-link{href: "#", title: "Next"} →
    / deck.status snippet
    %p.deck-status{"aria-role" => "status"}
      %span.deck-status-current
      \/
      %span.deck-status-total
    / deck.goto snippet
    %form.goto-form{action: ".", method: "get"}
      %label{for: "goto-slide"} Go to slide:
      %input#goto-slide{list: "goto-datalist", name: "slidenum", type: "text"}/
      %datalist#goto-datalist
      %input{type: "submit", value: "Go"}/
    / End extension snippets.
  / Required JS files.

  %script{src: "/core/deck.core.js"}
  / Extension JS files. Add or remove as needed.
  %script{src: "/extensions/menu/deck.menu.js"}
  %script{src: "/extensions/goto/deck.goto.js"}
  %script{src: "/extensions/status/deck.status.js"}
  %script{src: "/extensions/navigation/deck.navigation.js"}
  %script{src: "/extensions/scale/deck.scale.js"}
  / Initialize the deck. You can put this in an external file if desired.
  :javascript
    $(function() {
      $.deck('.slide');
    });
