.panel.panel-default
  .panel-body

    = simple_form_for(@setting) do |f|
      = f.error_notification

      .form-inputs
        = f.label :songs_background
        = f.file_field :songs_background
        = f.input :songs_case, collection: ['none', 'capitalize', 'uppercase', 'lowercase']
        = f.input :songs_font_color
        = f.input :songs_text_bg_color
        = f.input :presentation_template
        = f.label :anniversaries_background
        = f.file_field :anniversaries_background

      .form-actions
        = f.button :submit
