%h1 Listing settings

%table
  %tr
    %th Songs background
    %th Songs case
    %th Church
    %th
    %th
    %th

  - @settings.each do |setting|
    %tr
      %td= setting.songs_background
      %td= setting.songs_case
      %td= setting.church_id
      %td= link_to 'Show', setting
      %td= link_to 'Edit', edit_setting_path(setting)
      %td= link_to 'Destroy', setting, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Setting', new_setting_path
