= simple_form_for(@song) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :author
    = f.input :lyric, :input_html => { :style => "font-family: lucida console;"}
    = f.input :user_id
    = f.input :link
    = f.input :reference
    = f.input :mood
    = f.input :order

  .form-actions
    = f.button :submit
