%p#notice= notice

%p
  %b Title:
  = @song.title
%p
  %b Reference:
  = @song.reference
%p
  %b Author:
  = @song.author
%p
  %b Mood:
  = @song.mood


.well
  %h1=@song.title
  -diapo = @song.diapo_mode(true)
  -if !@song.order.blank?
    -@song.order.split(',').each do |verse|
      %h5=verse
      %pre=chordify(diapo[verse.upcase.lstrip]) rescue diapo


%p
  %b Video:
  %br
  -unless @song.link.blank?
    %iframe{:width => "560", :height => "315", :src => "//www.youtube.com/embed/" + @song.link.scan(/=(.*)$/)[0][0], :frameborder => "0", :allowfullscreen => true}

%p
  %b Order:
  = @song.order

= link_to 'Edit', edit_song_path(@song)
\|
= link_to 'Back', songs_path
