!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Corobook"
    %meta{:content => content_for?(:description) ? yield(:description) : "Corobook", :name => "description"}

    = stylesheet_link_tag "application", :media => "all"
    
    <script src="http://code.jquery.com/mobile/1.4.0-alpha.2/jquery.mobile-1.4.0-alpha.2.min.js"></script>
    = javascript_include_tag "application"
    
    = csrf_meta_tags
    = yield(:head)
  %body{class: "#{controller_name} #{action_name}"}
    %header
      %nav.navbar.navbar-custom
        .container
          .row
            = render 'layouts/navigation'
    #main{role: "main", class: controller_name}
      .container
        .row
          = render 'layouts/messages'
          = yield
      %footer
      / ! end of .container
    / ! end of #main
